[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["email"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
logzero = "*"
pyjwt = "*"
python-decouple = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
